- name: Deploy Redmine
  hosts: all
  roles:
    - name: common
    - name: mariadb
    - name: tools
  tasks:
    - name: install ruby
      import_role:
        name: redmine
        tasks_from: ruby
    - name: redmine database setting
      import_role:
        name: redmine
        tasks_from: database
    - block:
        - name: create Gemfile.local file
          copy:
            src: Gemfile.local
            dest: /vagrant/redmine/Gemfile.local
            mode: "0644"
        - name: set redmine database config variable
          set_fact:
            redmine_db_cfg:
              production: "{{ redmine_db_cfg.production }}"
              development: "{{ redmine_db_cfg.production }}"
        - name: create database config file
          template:
            src: database.yml.j2
            dest: "{{ redmine_home }}/config/database.yml"
            mode: "0644"
        - name: create Redmine config file
          template:
            src: configuration.yml.j2
            dest: "{{ redmine_home }}/config/configuration.yml"
            mode: "0644"
        - name: execute bundle install
          command: bundle install
          args:
            chdir: "{{ redmine_home }}"
        - name: create secret token
          command: bundle exec rake generate_secret_token
          args:
            chdir: "{{ redmine_home }}"
            creates: "{{ redmine_home }}/config/initializers/secret_token.rb"
          register: generate_token_result
        - name: execute bundle exec rake db:migrate
          command: bundle exec rake db:migrate
          args:
            chdir: "{{ redmine_home }}"
        - name: execute bundle exec rake redmine:plugins:migrate
          command: bundle exec rake redmine:plugins:migrate
          args:
            chdir: "{{ redmine_home }}"
        - name: load default data
          command: bundle exec rake redmine:load_default_data
          args:
            chdir: "{{ redmine_home }}"
          when: generate_token_result is changed
      become: true
      become_user: "{{ redmine_user }}"
      environment:
        RAILS_ENV: "{{ redmine_mode }}"
        REDMINE_LANG: "{{ redmine_lang }}"
    - block:
        - name: set variables
          set_fact:
            redmine_db_host: "{{ redmine_db_cfg.development.host }}"
            redmine_db_name: "{{ redmine_db_cfg.development.database }}"
            redmine_db_user: "{{ redmine_db_cfg.development.username }}"
            redmine_db_password: "{{ redmine_db_cfg.development.password }}"
            db_character_set: "{{ mariadb_databases[0].encoding | default(mariadb_default_charset | default('utf8mb4')) }}"
        - name: set enviromnet variables(TBLS_DSN)
          lineinfile:
            path: ~/.bashrc
            regexp: '^export TBLS_DSN='
            line: export TBLS_DSN=my://{{ redmine_db_user }}:{{ redmine_db_password }}@{{ redmine_db_host }}:3306/{{ redmine_db_name }}
        - name: set enviromnet variables(TBLS_DOC_PATH)
          lineinfile:
            path: ~/.bashrc
            regexp: '^export TBLS_DOC_PATH='
            line: export TBLS_DOC_PATH=/vagrant/dbdoc
        - name: create mysql connection file
          ini_file:
            path: ~/.my.cnf
            create: true
            section: client
            option: "{{ item.key | replace('_', '-') }}"
            value: "{{ item.value | string }}"
            mode: "0640"
          with_dict:
            host: "{{ redmine_db_host }}"
            database: "{{ redmine_db_name }}"
            user: "{{ redmine_db_user }}"
            password: "{{ redmine_db_password }}"
            default_character_set: "{{ db_character_set }}"
      become: false
    - name: allow firewall port
      ufw:
        rule: allow
        port: "{{ item | string }}"
      loop:
        # Rails Server
        - 3000
        # MariaDB Server
        - 3306
        # Ruby Remote Debug
        - 1234
        # Mailhog
        - 8025
