web_root_dir: '/vagrant/web_root'

php_version: '7.4'

php_packages:
  - php{{ php_version }}-common
  - php{{ php_version }}-cli
  - php{{ php_version }}-dev
  - php{{ php_version }}-curl
  - php{{ php_version }}-gd
  - php{{ php_version }}-bcmath
  - php{{ php_version }}-imagick
  - php{{ php_version }}-mbstring
  - php{{ php_version }}-mcrypt
  - php{{ php_version }}-bz2
  - php{{ php_version }}-gettext
  - php{{ php_version }}-sqlite3
  - php{{ php_version }}-mysqlnd
  - php{{ php_version }}-pdo
  - php{{ php_version }}-opcache
  - php{{ php_version }}-intl
  - php{{ php_version }}-xml
  - php{{ php_version }}-zip
  - php{{ php_version }}-apcu
  - php{{ php_version }}-fpm
  - php{{ php_version }}-redis

# --------------
# php.iniの初期値を上書きする項目
# その他の設定値は、「provision/roles/php/defaults/main.yml」の「php_cfg」の項目を参照
# --------------
php_cfg: |
  display_errors = On
  memory_limit = 512M
  date.timezone = Asia/Tokyo
  sendmail_path =/usr/local/bin/mhsendmail

redmine_cfg:
  default:
    email_delivery:
      delivery_method: :sendmail
      sendmail_settings:
        location: /usr/local/bin/mhsendmail
        arguments: ''

mariadb_databases:
  - name: redmine_test
    hosts:
      - "127.0.0.1"
      - localhost
    user: redmine_test_user
    password: redmine_test_password

redmine_db_cfg:
  production:
    adapter: mysql2
    database: redmine
    host: localhost
    username: redmine_user
    password: redmine_password
    encoding: utf8mb4
  development:
    adapter: mysql2
    database: redmine
    host: localhost
    username: redmine_user
    password: redmine_password
    encoding: utf8mb4
  test:
    adapter: mysql2
    database: redmine_test
    host: localhost
    username: redmine_test_user
    password: redmine_test_password
    encoding: utf8mb4

mariadb_mysqld_cfg:
  bind_address: 0.0.0.0

mariadb_allow_connect_other_host: true

nginx_vhosts:
  - name: default
    default: true
    server_name: redmine-lde.local
    index:
      - index.html
      - index.php
    access_log: /var/log/nginx/access.log
    error_log: /var/log/nginx/error.log
    document_root: "{{ web_root_dir  }}"
    client_max_body_size: 0
    locations:
      - pattern: /
        content: |
          try_files $uri $uri/ /index.php?$query_string;
      - pattern: "\\.php"
        match_type: "~"
        content: |
          fastcgi_pass unix:/var/run/php/php-fpm.sock;
          include snippets/fastcgi-php.conf;
      - pattern: "/\\.ht"
        match_type: "~"
        content: "deny all;"

user_git_config:
  - name: alias.au
    value: add --update
  - name: alias.br
    value: branch
  - name: alias.co
    value: checkout
  - name: alias.ci
    value: commit
  - name: alias.ca
    value: commit --amend
  - name: alias.st
    value: status -s
  - name: alias.lg
    value: log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=iso --all --decorate
  - name: alias.dc
    value: diff --cached
  - name: alias.dw
    value: diff --word-diff
  - name: alias.assume
    value: update-index --assume-unchanged
  - name: alias.unassume
    value: update-index --no-assume-unchanged
  - name: alias.assumed
    value: "!git ls-files -v | grep ^h | cut -c 3-"
  - name: alias.skip-worktree
    value: update-index --skip-worktree
  - name: alias.unskip-worktree
    value: update-index --no-skip-worktree
  - name: alias.skipped-worktree
    value: " !git ls-files -v | grep ^s | cut -c 3-"
