redmine_cfg:
  default:
    email_delivery:
      delivery_method: :sendmail
      sendmail_settings:
        location: /usr/local/bin/mhsendmail
        arguments: ''

redmine_db_cfg:
  production:
    adapter: mysql2
    database: redmine
    host: localhost
    username: redmine_user
    password: redmine_password
    encoding: utf8mb4
  development:
    adapter: mysql2
    database: redmine
    host: localhost
    username: redmine_user
    password: redmine_password
    encoding: utf8mb4

mariadb_mysqld_cfg:
  bind_address: 0.0.0.0

mariadb_allow_connect_other_host: true

